
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mini Messageboard
  body
   div
      ul
        each message in messages
          li
            div
              p User: #{message.user}
              p Date: #{message.added.date} #{message.added.time}
            div
              p Message: #{message.text}
